@import "bootstrap.less";
@import "variables.less";

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v8/fTLR1wW5qq9Ui3F-pB4hXQ.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v8/g46X4VH_KHOWAAa-HpnGPvk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
}

a {
  border-bottom: 1px solid lighten(@brand-primary, 40%);
}
h1 {
  color: #092839;
  margin-bottom: 30px;
}
h2, h3, h4, h5, h6 {
  color: #1d1d1b;
}
ul, ol {
  padding-left: 18px;
  li {
    padding-left: 20px;
  }
}
ul {
  list-style: none;
  li {
    list-style-image: url(../images/g-romb.png);
  }
}
.bg-wrapper {
  background: #1d4d65;
  background: url(../images/bg2.png) no-repeat center bottom;
  padding-bottom: 70px;
}
header {
  padding: 10px 0 40px;
}
.logo {
  float: left;
  width: 66px;
  a {
    border: none;
  }
}
.header-nav {
  margin-left: 70px;
}
@media (min-width: @screen-sm-min) {
  .header-nav {
    margin-left: 100px;
  }
}
.user-panel {
  font-size: 14px;
  color: @brand-info;
  margin-top: 12px;
  a {
    color: @brand-info;
    border-bottom-color: #454a37;
  }
}
.navbar-nav {
  li {
    padding-left: 0;
    a {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      border-bottom-color: #454a37;
    }
  }
}
@media (min-width: @screen-md-min) {
  .navbar-nav {
    position: absolute;
    top: -54px;
    left: 70px;
    li {
      background: url(../images/y-romb.png) no-repeat right center;
      padding: 0 15px;
      &:last-child {
        background: none;
      }
      a {
        padding: 0;
        border: none;
        text-decoration: underline;
        margin-right: 15px;
        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}
@media (min-width: @screen-lg-min) {
  .navbar-nav {
    left: 100px;
    li {
      padding: 0 20px;
    }
  }
}
.inner-header-title {
  margin: 30px 0;
  color: #fff;
  button {
    margin-top: 10px;
  }
}
.title-block {
  color: #fff;
  text-align: center;
}
footer {
  padding: 20px 0 30px;
  border-top: 1px solid #c6c6c6;
  font-size: 14px;
}
.vk-group {
  margin-bottom: 15px;
  a {
    color: #41658b;
    border: none;
    padding: 4px 0 4px 35px;
    background: url(../images/vk1.png) no-repeat left center;
    span {
      border-bottom: 1px solid #cfd8e2;
    }
  }
}
@media (min-width: @screen-sm-min) {
  .site {
    text-align: right;
  }
}
.block-title {
  color: #fff;
  text-align: center;
  margin-bottom: 60px;
  position: relative;
  z-index: 1;
}
.main-title {
  font-size: 24px;
  font-weight: 700;
}
.sub-title {
  font-size: 14px;
  position: relative;
  z-index: 1;
  span {
    font-size: 18px;
  }
  a {
    color: @brand-info;
    border-bottom-color: #454a37;
  }
}
.infoblock {
  width: 210px;
  height: 210px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform:rotate(45deg);
  margin: 0 auto 90px;
  overflow:hidden;
  position:relative;
  .infoblock-content {
    width: 296px;
    height: 296px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position:absolute;
    margin-top:-2.7em;
    margin-left:-2.7em;
    display:table;
    .infoblock-content-cell {
      display:table-cell;
      vertical-align:middle;
      text-align:center;
      line-height: 1.2;
      padding:0 40px;
    }
  }
}
.blue-infoblock {
  background: #257cb2;
  z-index: 1;
  .infoblock-content {
    color: #fff;
    a {
      color:#fff;
    }
  }
}
.yellow-infoblock {
  border: 4px solid @brand-info;
  z-index: 2;
  .infoblock-content {
    color: @brand-info;
  }
  ol {
    padding-left: 0;
    li {
      list-style: none;
      padding-left: 8px;
      margin-bottom: 5px;
    }
  }
}
.pink-infoblock {
  background: @brand-success;
  z-index: 9999;
  .infoblock-title {
    color: #fff;
  }
  .infoblock-history {
    color: @brand-info;
    font-size: 12px;
    a {
      color: @brand-info;
      border-bottom-color: @brand-info;
    }
  }
  .infoblock-slider {
    margin: 30px 0;
  }
}
.infoblock-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.infoblock-text {
  font-size: 14px;
  margin-bottom: 38px;
}
.statistic-title {
  color: #fff;
  font-size: 14px;
}
.statistic-info {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.infoblock-reg-btn {
  position: relative;
  z-index: 3;
  text-align: center;
  margin-top: -30px;
  button {
    width: 100%;
    max-width: 320px;
    padding: 15px 0;
  }
}
.history-infoblock {
  width:200px;
  height:200px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform:rotate(45deg);
  margin:55px auto 90px;
  overflow:hidden;
  position:relative;
  a {
    width: 282px;
    height: 282px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform:rotate(-45deg);
    position:absolute;
    margin-top:-2.5em;
    margin-left:-2.5em;
    display:table;
    color:#fff;
    border: none;
    span {
      font-size: 24px;
      font-weight: 700;
      display:table-cell;
      vertical-align:middle;
      text-align:center;
      padding:0 1.875em;
    }
  }
}
.infoblock-2013 a {
  background: url(../images/2013.png) no-repeat;
  background-size: contain;
}
.infoblock-2014 a {
  background: url(../images/2014.png) no-repeat;
  background-size: contain;
}
.infoblock-2015 a {
  background: url(../images/2015.png) no-repeat;
  background-size: contain;
}
@media (min-width: @screen-sm-min) {
  .main-title {
    font-size: 32px;
  }
  .romb-container, .romb-container-2 {
    position: relative;
    height: 400px;
  }
  .infoblock {
    width: 230px;
    height: 230px;
    float: left;
    position: absolute;
    .infoblock-content {
      width: 325px;
      height: 325px;
      margin-top: -2.7em;
      margin-left: -2.7em;
    }
  }
  .blue-infoblock {
    top: -60px;
    left: 70px;
    .infoblock-title {
      margin-top: 15px;
    }
  }
  .yellow-infoblock {
    top: 110px;
    left: 245px;
  }
  .pink-infoblock {
    top: -60px;
    right: 70px;
  }
  .infoblock-text {
    margin-bottom: 60px;
  }
  .infoblock-reg-btn {
    position: absolute;
    .btn {
      max-width: none;
      font-size: 18px;
      padding: 15px 60px;
    }
  }
  .ohota-2016 {
    .infoblock-reg-btn {
      top: 330px;
      left: 50%;
      margin-left: -214px;
    }
  }
  .main-ohota-history {
    .infoblock-reg-btn {
      top: 400px;
      left: 50%;
      margin-left: -214px;
    }
  }
  .history-infoblock {
    position: absolute;
  }
  .infoblock-2013 {
     top: 60px;
     left: 50px;
   }
  .infoblock-2014 {
    top: -30px;
    left: 260px;
  }
  .infoblock-2015 {
    top: 60px;
    right: 50px;
  }
}
@media (min-width: @screen-md-min) {
  .romb-container-2 {
    height: 480px;
  }
  .blue-infoblock {
    top: -60px;
    left: 180px;
    .infoblock-title {
      margin-top: 20px;
    }
  }
  .yellow-infoblock {
    top: 110px;
    left: 355px;
  }
  .pink-infoblock {
    top: -60px;
    right: 180px;
    .carousel-control {
      top: 15px;
    }
  }
  .history-infoblock {
    width: 280px;
    height: 280px;
    a {
      width: 380px;
      height: 380px;
    }
  }
  .infoblock-2013 {
    top: 85px;
  }
  .infoblock-2014 {
    left: 330px;
  }
  .infoblock-2015 {
    top: 85px;
  }
  .main-ohota-history {
    .infoblock-reg-btn {
      top: 480px;
    }
  }
}
@media (min-width: @screen-lg-min) {
  .blue-infoblock {
    top: -60px;
    left: 280px;
  }
  .yellow-infoblock {
    top: 110px;
    left: 455px;
  }
  .pink-infoblock {
    top: -60px;
    right: 280px;
  }
  .infoblock-2013 {
    left: 140px;
  }
  .infoblock-2014 {
    left: 430px;
  }
  .infoblock-2015 {
    right: 140px;
  }
}
.main-section {
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}
@media (min-width: @screen-sm-min) {
  .main-section {
    h2 {
      font-size: 36px;
    }
  }
}
.prizes {
  padding: 0 0 30px;
  h2 {
   color: #fff;
  }
}
.prizes-list {
  ul {
    color: #fff;
    margin-bottom: 0;
    li {
      list-style-image: url(../images/w-romb.png);
      margin-bottom: 15px;
      a {
        color:#fff;
      }
    }
  }
}
.main-ohota-history {
  h2 {
    color: #fff;
  }
}
.sponsors {
  background: #ee9d26;
  padding: 30px 0;
}
.sponsors-list {
  div {
    text-align: center;
    padding: 30px 0;
  }
}
.contacts {
  h2 {
    color: #000;
  }
}
.contacts-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  max-width: 200px;
}
.contacts-title-org {
  font-size: 14px;
  font-weight: 400;
}
.contacts-title-nevesta {
  color: #969696;
  font-size: 16px;
  font-weight: 400;
}
.contacts-tel {
  margin: 30px 0 10px;
  div {
    line-height: 1.2;
  }
  a {
    color: #000;
    border: none;
  }
}
.contacts-email {
  margin-bottom: 10px;
  a {
    color: #000;
    border: none;
  }
}
.contacts-site {
  margin-bottom: 10px;
}
.contacts-vk {
  margin-bottom: 50px;
}
.share {
  margin-bottom: 50px;
  span {
    display: block;
    margin-bottom: 10px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
  }
  a {
    display: inline-block;
    width: 39px;
    height: 39px;
    border: none;
  }
  a.vk {
    background: url(../images/vk.png) no-repeat;
  }
  a.fb {
    background: url(../images/fb.png) no-repeat;
  }
  a.tw {
    background: url(../images/tw.png) no-repeat;
  }
  a.ok {
    background: url(../images/ok.png) no-repeat;
  }
  a.g {
    background: url(../images/g+.png) no-repeat;
  }
}
.form-feedback {
  h3 {
    margin: 0 0 20px;
  }
  form {
    max-width: 540px;
    margin-bottom: 50px;
    label {
      font-size: 14px;
    }
    .form-group {
      margin-bottom: 10px;
    }
    button {
      padding-right: 30px;
      padding-left: 30px;
      margin-top: 15px;
    }
  }
}
@media (min-width: @screen-sm-min) {
  .main-section {
    h2 {
      margin-bottom: 50px;
    }
  }
  .prizes {
    padding: 0 0 50px;
  }
  .prizes-list {
    width: 600px;
    margin: 0 auto;
  }
}
@media (min-width: @screen-md-min) {
  .prizes-list {
    width: 740px;
    margin: 0 auto;
  }
}
                                            /*Inner-page*/
.inner-header {
  background: #092839;
}
.innerpage-main-title {
  font-size: 24px;
  margin-bottom: 5px;
}
.innerpage-sub-title {
  font-size: 14px;
  margin-bottom: 25px;
  a {
    color: @brand-info;
    border-bottom-color: #625f4c;
    white-space: nowrap;
  }
  span {
    font-size: 20px;
  }
}
@media (min-width: 360px) {
  .innerpage-sub-title {
    a {
      margin-left: 10px;
    }
  }
}
.reg-btn {
  color: @text-color;
  &:hover, &:focus {
    color: @text-color;
  }
}
.ohota-about {
  color: #fff;
  font-size: 14px;
  a {
    font-size: 18px;
    font-weight: 700;
    border-bottom-color: #11415d;
  }
}
.ohota-history {
  color: #fff;
  font-size: 14px;
  button {
    padding: 2px 10px;
    font-size: 12px;
    font-weight: 400;
    margin-right: 5px;
  }
}
.inner-content {
  padding: 40px 0;
}
.breadcrumb {
  li {
    color: #9d9d9c;
    a {
      color: #9d9d9c;
      border-bottom-color: #e6e6e6;
    }
  }
}
.account-link {
  div {
    margin-top: 10px;
  }
  a {
    color: @brand-success;
    border-bottom-color: #38243e;
    font-size: 14px;
  }
}
.account-btn {
  margin-bottom: 10px;
}
@media (min-width: @screen-sm-min) {
  .innerpage-main-title {
    font-size: 38px;
  }
  .innerpage-sub-title {
    font-size: 16px;
  }
  .ohota-history {
    margin-top: 35px;
  }
  .ohota-about {
    margin-top: 35px;
  }
  .share {
    span {
      display: inline-block;
      margin-right: 20px;
      vertical-align: 15px;
    }
  }
}
@media (min-width: @screen-md-min) {
  .innerpage-main-title {
    font-size: 48px;
  }
  .ohota-about {
    margin-top: 50px;
  }
}
                                            /*Form-reg*/
.inner-content {
  position: relative;
}
.mob-support {
  position: absolute;
  top: 120px;
  right: 0;
  z-index: 9000;
  .mob-support-btn {
    text-align: center;
    padding: 0;
    border: none;
    box-shadow: -1px 0 3px 3px rgba(0, 0, 0, 0.1);
    span {
      display: block;
      width: 70px;
      height: 60px;
      line-height: 60px;
      &:first-child {
        border-bottom: 1px solid #d5d5d5;
      }
    }
  }
  .mob-support-status {
    color: #2fac66;
    font-size: 20px;
    font-weight: 700;
  }
  .mob-support-info {
    color: @text-color;
    font-size: 24px;
  }
}
.mob-support-panel {
  background: #fff;
  max-width: 310px;
  box-shadow: -1px 0 3px 3px rgba(0, 0, 0, 0.1);
  .status, .reg-data {
    margin-bottom: 0;
    border: none;
  }
  .status {
    border-bottom: 1px solid #ececec;
  }
  .close {
    margin: 10px 15px 0 0;
  }
}
.support {
  background: #ededed;
  padding: 25px 30px;
  div {
    font-size: 14px;
  }
}
.support-title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.reg-form, {
  margin: 30px 0;
  .checkbox {
    margin: 30px 0 20px;
  }
  button {
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
  }
  .help-block {
    font-size: 14px;
    line-height: 1.3;
    max-width: 300px;
  }
}
.support-links {
  margin-bottom: 15px;
}
.support-tel {
  a {
    color: @text-color;
    border: none;
  }
}
@media (min-width: @screen-sm-min) {
  .reg-form {
    .input-container {
      max-width: 330px;
    }
  }
}
@media (min-width: @screen-md-min) {
  .reg-form {
    label {
      font-size: 16px;
    }
  }
}
.tip {
  width: 24px!important;
  height: 24px;
  padding: 0;
  background: none;
  color: #dadada;
  border: 1px solid #dadada;
  border-radius: 50%;
  position: absolute;
  top: -14px;
  right: 25px;
  z-index: 10;
  &:hover, &:focus {
    color: #dadada;
  }
}
.form-success {
  .form-control-feedback {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 14px;
    color: #2fac66;
  }
}
.status {
  border: 2px solid #ececec;
  padding: 25px 30px;
  margin-bottom: 20px;
}
.status-title {
  color: @brand-success;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.status-info {
  color: #000;
  font-size: 24px;
  margin-bottom: 15px;
  span {
    color: @brand-success;
    font-weight: 700;
  }
}
.status-note {
  font-size: 14px;
}
.rules-title {
  color: @brand-success;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
.rules {
  margin-bottom: 50px;
  ol {
    li {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }
  p {
    font-size: 14px;
    font-weight: 700;
    margin-left: 38px;
  }
}
.pers-cab-subtitle {
  color: @brand-success;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.profi-item {
  background: #f6f6f6;
  padding: 15px;
  margin-bottom: 5px;
}
.profi-type {
  font-size: 18px;
  font-weight: 700;
  i {
    margin-right: 12px;
  }
}
.profi-selected {
  .profi-type {
    i {
      color: #2fac66;
    }
  }
}
.profi-not-selected {
  .profi-type {
    i {
      color: #b2b2b2;
    }
  }
}
.profi-item {
  .btn-link {
    i {
      margin-right: 5px;
    }
    span {
      border-bottom: 1px dashed;
    }
  }
  .btn-link.add-link {
    color: #bf6379;
    span {
      border-bottom-color: #e8d1d7;
    }
  }
  .btn-link.delete-link {
    color: #878787;
    span {
      border-bottom-color: #dadada;
    }
  }
  .btn-link + .btn-link {
    margin-left: 10px;
  }
}
.profi-name {
  margin-top: 15px;
  a {
    font-size: 14px;
  }
}
.profi-not-selected {
  .profi-name, .profi-name a {
    color: #b2b2b2;
    font-size: 14px;
    font-style: italic;
  }
  .profi-name a {
    border-bottom-color: #dadada;
  }
}
.profi-name-pos {
  margin-bottom: 8px;
}
@media (min-width: @screen-lg-min) {
  .profi-type {
    font-size: 24px;
  }
}
.status-success {
  .status-title, .status-info span {
    color: #2fac66;
  }
}
.reg-data {
  border: 2px solid #ececec;
  padding: 25px 30px;
  margin-bottom: 20px;
}
.ger-data-title {
  color: #1d1d1b;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.reg-data {
  dl {
    margin-bottom: 12px;
    dt {
      color: #b2b2b2;
      font-size: 12px;
      text-transform: uppercase;
      width: 70px;
      margin-bottom: 8px;
    }
    dd {
      font-size: 14px;
      margin-left: 80px;
    }
  }
}
.reg-data dl dt:nth-of-type(2) {
  margin-bottom: 20px;
}
.reg-data-btn {
  .btn-link {
    margin-right: 10px;
    i {
      color: #878787;
      margin-right: 5px;
    }
    span {
      border-bottom: 1px solid lighten(@brand-primary, 40%);
    }
  }
}
.modal {
  .profi-type {
    margin-bottom: 20px;
  }
  .btn-default {
    background: #ededed;
    border: none;
    color: @text-color;
    font-weight: 400;
  }
  .btn {
    margin-right: 5px;
  }
  input {
    margin-bottom: 10px;
  }
}

.modal {
  .help-block {
    font-size: 12px;
  }
  .input-container {
    margin-bottom: 20px;
  }
  label {
    font-size: 14px;
  }
}

.input-container {
  input[type="text"], input[type="email"], textarea, input[type="password"], input[type="url"] {
    .form-control;
  }
}

#vk_like {
  float: left;
  width: 90px !important;
  margin-bottom: 20px;
}

.fb-like {
  float: left;
  width: 120px;
  margin-top: 0px;
  margin-bottom: 20px;
}